* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgb(92, 195, 209);
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 10px;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchBar img {
  width: 7%;
}

input {
  border: 3px solid #f1ee08;
  height: 100%;
  width: 50%;
  border-radius: 50px;
  padding: 0px 10px;
  padding-left: 25px;
  background: url(img/icon.png) no-repeat left;
  background-size: 30px;
  background-color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background-image: url(img/background.jpeg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.hero h1 {
  font-size: 100%;
  color: #ffffff;
}

.animalsPhoto div {
  max-width: 20%;
  height: auto;
  margin: 1%;
  flex-shrink: 0;
}

.animalsPhoto {
  display: flex;
  justify-content: center;
}

.contentTex h1 {
  color: rgb(255, 208, 0);
  font-size: 110%;
}

.secondAnimalsPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monkey div:first-of-type,
.dog div:first-of-type {
  width: 180px;
  height: 200px;
  padding-top: 30px;
}

.aboutMonkey h1,
.aboutDog h1 {
  font-size: 100%;
  color: rgb(255, 174, 0);
}

.lineBeforeFooter {
  width: 100%;
  height: 1vh;
  background-color: rgb(255, 208, 0);
  margin-top: 2%;
}

footer {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

footer h6 {
  color: rgb(255, 174, 0);
  padding-top: 20%;
  padding-bottom: 10%;
  font-size: 100%;
}

footer p {
  font-size: 80%;
  color: white;
  padding-bottom: 10%;
}

@media only screen and (min-width: 800px) {
  header {
    flex-direction: row;
  }

  header div {
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .hero {
    height: 60vh;
  }

  .hero h1 {
    font-size: 200%;
  }

  .content {
    margin-top: -10%;
    width: 80%;
  }

  .animalsPhoto div {
    margin: 2%;
  }

  .secondAnimalsPhoto {
    flex-direction: row;
  }

  .secondAnimalsPhoto div {
    margin-left: 2%;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .monkey,
  .dog {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchBar {
    width: 500px;
  }
}
